extends ../layout

block content
    a.btn.btn-dark(href='/tecnicos') Volver

    br
    br

    h1 Registrar técnico

    br
    br

    form(action='/tecnicos/create' method='post')
        .form-group
            label(for='num_identidad') Número de identificación:
            input#num_identidad.form-control(type='number' name='num_identidad')
        .form-row
            .form-group.col
                label(for='nombres') Nombres:
                input#nombres.form-control(type='text' name='nombres')
            .col
                label(for='apellidos') Apellidos:
                input#apellidos.form-control(type='text' name='apellidos')
        .form-row
            .form-group.col-md-6
                label(for='pais') Pais:
                input#pais.form-control(type='text' name='pais')
            .form-group.col-md-4
                label(for='departamento') Departamento:
                input#departamento.form-control(type='text' name='departamento')
            .form-group.col-md-2
                label(for='ciudad') Ciudad:
                input#ciudad.form-control(type='text' name='ciudad')
        .form-row
            .form-group.col-md-10
                label(for='direccion') Dirección:
                input#direccion.form-control(type='text' name='direccion')
            .form-group.col-md-2
                label(for='barrio') Barrio:
                input#barrio.form-control(type='text' name='barrio')
        .form-group
            label(for='telefono') Teléfono:
            input#telefono.form-control(type='number' name='telefono')
        .form-group
            label(for='especialidad') Especialidad:
            input#especialidad.form-control(type='text' name='especialidad')
        .form-row
            .form-group.col-md-6
                label(for='lat') Latitud:
                input#lat.form-control(type='text' name='lat')
            .form-group.col-md-6
                label(for='lng') Longitud:
                input#lng.form-control(type='text' name='lng')
        .form-group
            input.btn.btn-primary(type='submit' value='Registrar')
