extends ../layout

block content

    a.btn.btn-dark(href='/tecnicos') Volver

    table.table.table-responsive.table-responsive-sm.table-responsive-md.table-responsive-lg.table-responsive-xl
        tr
            th.text-center(colspan='2') Detalles del técnico
        tbody
            tr
                th(scope='row') Número de identificación:
                td= sTec.num_identidad
            tr
                th(scope='row') Nombres:
                td=sTec.nombres
            tr
                th(scope='row') Apellidos:
                td=sTec.apellidos
            tr
                th(scope='row') Pais:
                td=sTec.pais
            tr
                th(scope='row') Departamento:
                td=sTec.departamento
            tr
                th(scope='row') Ciudad:
                td=sTec.ciudad
            tr
                th(scope='row') Dirección:
                td=sTec.direccion
            tr
                th(scope='row') Barrio:
                td=sTec.barrio
            tr
                th(scope='row') Teléfono:
                td=sTec.telefono
            tr
                th(scope='row') Especialidad:
                td=sTec.especialidad
            tr
                th(scope='row') Ubicación:
                td=sTec.ubicacion