extends ../layout

block content

    a.btn.btn-dark(href='/tecnicos/create') Nuevo tecnico

    table.table.table-responsive.table-responsive-sm.table-responsive-md.table-responsive-lg.table-responsive-xl
        tr
            th(scope='col') Número de identificación
            th(scope='col') Nombres
            th(scope='col') Apellidos
            th(scope='col') Pais
            th(scope='col') Departamento
            th(scope='col') Ciudad
            //th(scope='col') Dirección
            //th(scope='col') Barrio
            //th(scope='col') Teléfono
            th(scope='col') Especialidad
            //th(scope='col') Ubicación
            th(scope='col') Detalles
            th(scope='col') Modificar
            th(scope='col') Eliminar
        tbody
            each tec in tecs
                tr
                    td(scope='row')
                        = tec.num_identidad
                    td=tec.nombres
                    td=tec.apellidos
                    td=tec.pais
                    td=tec.departamento
                    td=tec.ciudad
                    //td=tec.direccion
                    //td=tec.barrio
                    //td=tec.telefono
                    td=tec.especialidad
                    //td=tec.ubicacion
                    td
                        a.btn.btn-info(href='tecnicos/' + tec.num_identidad + '/detail') Ver
                    td
                        a.btn.btn-info(href='tecnicos/' + tec.num_identidad + '/update') Modificar
                    td
                        form.inline(method='post' action='tecnicos/' + tec.num_identidad + '/delete')
                            input(type='hidden' name='num_identidad' value= tec.num_identidad)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn btn-danger')
                                = 'Eliminar'