extends ../layout

block content
    a.btn.btn-dark(href='/tecnicos') Volver

    br
    br

    h1 Modificar técnico

    br
    br

    form(action=`/tecnicos/${sTec.num_identidad}/update` method='post')
        .form-group
            label(for='num_identidad') Número de identificación:
            input#num_identidad.form-control(type='number' name='num_identidad' value=sTec.num_identidad)
        .form-row
            .form-group.col
                label(for='nombres') Nombres:
                input#nombres.form-control(type='text' name='nombres' value=sTec.nombres)
            .col
                label(for='apellidos') Apellidos:
                input#apellidos.form-control(type='text' name='apellidos' value=sTec.apellidos)
        .form-row
            .form-group.col-md-6
                label(for='pais') Pais:
                input#pais.form-control(type='text' name='pais' value=sTec.pais)
            .form-group.col-md-4
                label(for='departamento') Departamento:
                input#departamento.form-control(type='text' name='departamento' value=sTec.departamento)
            .form-group.col-md-2
                label(for='ciudad') Ciudad:
                input#ciudad.form-control(type='text' name='ciudad' value=sTec.ciudad)
        .form-row
            .form-group.col-md-10
                label(for='direccion') Dirección:
                input#direccion.form-control(type='text' name='direccion' value=sTec.direccion)
            .form-group.col-md-2
                label(for='barrio') Barrio:
                input#barrio.form-control(type='text' name='barrio' value=sTec.barrio)
        .form-group
            label(for='telefono') Teléfono:
            input#telefono.form-control(type='number' name='telefono' value=sTec.telefono)
        .form-group
            label(for='especialidad') Especialidad:
            input#especialidad.form-control(type='text' name='especialidad' value=sTec.especialidad)
        .form-row
            .form-group.col-md-6
                label(for='lat') Latitud:
                input#lat.form-control(type='text' name='lat' value=sTec.ubicacion[0])
            .form-group.col-md-6
                label(for='lng') Longitud:
                input#lng.form-control(type='text' name='lng' value=sTec.ubicacion[1])
        .form-group
        input.btn.btn-primary(type='submit' value='Modificar')
