extends ../layout

block content

  #LoginForm
    .container
      .d-flex.justify-content-center.h-100
        .card
          .card-header
            h3 Recuperar password
          .card-body
            if info && info.message
              .alert.alert-danger
                = info.message
            form#Login(action='/forgotPassword' method='post')
              p Por favor ingrese su email y le enviaremos instrucciones para recuperar su contrasena
              .input-group.form-group
                .input-group-prepend
                  span.input-group-text
                    i.fas.fa-user
                input#email.form-control(type='email' name='email' placeholder='Email')
              .form-group
                input.btn.float-right.login_btn(type='submit' value='Enviar')
          .card-footer
            a.btn.btn-info(href='/login') Atras

