extends ../layout

block content

  #LoginForm
    .container
      .d-flex.justify-content-center.h-100
        .card
          .card-header
            h3 Recuperacion de contrasena
          .card-body
            p Revise su cuenta de email, le llegaran instruccions para recuperar su contrasena
          .card-footer
            a.btn.btn-info(href='/forgotPassword') Atras
            
