extends ../layout

block content

  #LoginForm
    .container
      .d-flex.justify-content-center.h-100
        .card
          .card-header
            h3 Admin login
            .d-flex.justify-content-end.social_icon
              span
                i.fab.fa-facebook-square
              span
                a(href='/auth/google')
                  i.fab.fa-google-plus-square
              span
                i.fab.fa-twitter-square
          .card-body
            if info && info.message
              .alert.alert-danger
                = info.message
            form#Login(action='/login' method='post')
              .input-group.form-group
                .input-group-prepend
                  span.input-group-text
                    i.fas.fa-user
                input#username.form-control(type='email' placeholder='Email address' name='username')
              .input-group.form-group
                .input-group-prepend
                  span.input-group-text
                    i.fas.fa-key
                input#password.form-control(type='password' placeholder='password' name='password')
              .row.align-items-center.remember
                input(type='checkbox')
                | Recordar
              .form-group
                input.btn.float-right.login_btn(type='submit' value='Login')
          .card-footer
            .d-flex.justify-content-center.links
              | Don&apos;t have an account?
              a(href='/usuarios/create') Registrate
            .d-flex.justify-content-center
              a(href='/forgotPassword') Olvido su contrasena?
            .d-flex.justify-content-center
              a(href='/privacy_policy') Ver politica de privacidad
