extends ../layout

block content

  #LoginForm
    .container
      .d-flex.justify-content-center.h-100
        .card
          .card-header
            h3 Cambio de password
          .card-body
            if info && info.message
              .alert.alert-danger
                = info.message
            form#Login(action='/resetPassword' method='post')
              input#email(type='hidden' name='email' value=usuario.email)
              .input-group.form-group
                .input-group-prepend
                  span.input-group-text
                    i.fas.fa-key
                input#pwd.form-control(type='password', name='password' placeholder='nueva password' class= errors.password ? 'is-invalid' : '')
                if errors.password
                  small#passwordHelp.text-danger
                    = errors.password.message
              .input-group.form-group
                .input-group-prepend
                  span.input-group-text
                    i.fas.fa-key
                input#confirm_pwd.form-control(type='password' name='confirm_password' placeholder='confirmar nueva password' class= errors.confirm_password ? 'is-invalid' : '')
                if errors.confirm_password
                  small#confirm_passwordHelp.text-danger
                    = errors.confirm_password.message
              .form-group
                input.btn.float-right.login_btn(type='submit' value='Cambiar')

