extends layout

block content
  #page-top
    // Navigation
    nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container
        a.navbar-brand.js-scroll-trigger(href='#page-top') Red-Tecnicos
        button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
          | Menu
          i.fas.fa-bars
        #navbarResponsive.collapse.navbar-collapse
          ul.navbar-nav.ml-auto
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#download') Descargar
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#features') Características
            li.nav-item
              a.nav-link.js-scroll-trigger(href='#contact') Contacto
    header.masthead
      .container.h-100
        .row.h-100
          .col-lg-7.my-auto
            .header-content.mx-auto
              h1.mb-5
                | Bienvenido a Express
              h1.mb-5
                | Red-Tecnicos: Una App que reune a la primera comunidad de técnicos
              a.btn.btn-outline.btn-xl.js-scroll-trigger(href='/login') Accede!
              br
              br
              p o
              a.btn.btn-outline.btn-xl.js-scroll-trigger(href='/usuarios/create') Regístrate!
          .col-lg-5.my-auto
            .device-container
              .device-mockup.iphone6_plus.portrait.white
                .device
                  .screen
                    // Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
                    img.img-fluid(src='/images/demo-screen-1.jpg' alt='')
                  .button
                    // You can hook the "home button" to some JavaScript events or just remove it
    section#download.download.bg-primary.text-center
      .container
        .row
          .col-md-8.mx-auto
            h2.section-heading Discover what all the buzz is about!
            p Our app is available on any mobile device! Download now to get started!
            .badges
              a.badge-link(href='#')
                img(src='/images/google-play-badge.svg' alt='')
              a.badge-link(href='#')
                img(src='/images/app-store-badge.svg' alt='')
    section#features.features
      .container
        .section-heading.text-center
          h2 Unlimited Features, Unlimited Fun
          p.text-muted Check out what you can do with this app theme!
          hr
        .row
          .col-lg-4.my-auto
            .device-container
              .device-mockup.iphone6_plus.portrait.white
                .device
                  .screen
                    // Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else!
                    img.img-fluid(src='/images/demo-screen-1.jpg' alt='')
                  .button
                    // You can hook the "home button" to some JavaScript events or just remove it
          .col-lg-8.my-auto
            .container-fluid
              .row
                .col-lg-6
                  .feature-item
                    i.icon-screen-smartphone.text-primary
                    h3 Device Mockups
                    p.text-muted Ready to use HTML/CSS device mockups, no Photoshop required!
                .col-lg-6
                  .feature-item
                    i.icon-camera.text-primary
                    h3 Flexible Use
                    p.text-muted Put an image, video, animation, or anything else in the screen!
              .row
                .col-lg-6
                  .feature-item
                    i.icon-present.text-primary
                    h3 Free to Use
                    p.text-muted As always, this theme is free to download and use for any purpose!
                .col-lg-6
                  .feature-item
                    i.icon-lock-open.text-primary
                    h3 Open Source
                    p.text-muted Since this theme is MIT licensed, you can use it commercially!
    section.cta
      .cta-content
        .container
          h2
            | Encuentranos
          #main_map
          br
          br
          a.btn.btn-outline.btn-xl.js-scroll-trigger(href='#contact') Contacto!
      .overlay
    section#contact.contact.bg-primary
      .container
        h2
          | Nuestras redes sociales
        ul.list-inline.list-social
          li.list-inline-item.social-twitter
            a(href='#')
              i.fab.fa-twitter
          li.list-inline-item.social-facebook
            a(href='#')
              i.fab.fa-facebook-f
          li.list-inline-item.social-google-plus
            a(href='#')
              i.fab.fa-google-plus-g
    footer
      .container
        p &copy; Your Website 2020. All Rights Reserved.
        ul.list-inline
          li.list-inline-item
            a(href='#') Privacy
          li.list-inline-item
            a(href='#') Terms
          li.list-inline-item
            a(href='#') FAQ
    
    // Bootstrap core JavaScript
    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
    // Plugin JavaScript
    script(src='/vendor/jquery-easing/jquery.easing.min.js')
    // Custom scripts for this template
    script(src='/javascripts/new-age.min.js')
    script(src='/javascripts/map.js')

