extends ../layout

block content
    a.btn.btn-dark(href='/usuarios') Volver

    br
    br

    h1 Registrar usuario

    br
    br

    form(action='/usuarios/create' method='post')
        .form-group
            label(for='nombreUsuario') Nombre de usuario:
            input#nombreUsuario.form-control(type='text' name='nombreUsuario' value=usuario.nombreUsuario class=errors.nombreUsuario ? 'is-invalid': '')
            if errors.nombreUsuario
                small#nombreUsuarioHelp.text-danger
                    = errors.nombreUsuario.message
        .form-group
            label(for='email') E-mail:
            input#email.form-control(type='text' name='email' value=usuario.email class=errors.email ? 'is-invalid': '')
            if errors.email
                small#emailHelp.text-danger
                    = errors.email.message
        .form-row
            .form-group.col-md-6
                label(for='pwd') Password:
                input#pwd.form-control(type='password' name='password' class=errors.password ? 'is-invalid': '')
                if errors.password
                    small#passwordHelp.text-danger
                        = errors.password.message
            .form-group.col-md-6
                label(for='confirm_pwd') Password:
                input#confirm_pwd.form-control(type='password' name='confirm_password' class=errors.confirm_password ? 'is-invalid': '')
                if errors.confirm_password
                    small#confirm_passwordHelp.text-danger
                        = errors.confirm_password.message
        .form-group
            input.btn.btn-primary(type='submit' value='Registrar')
