extends ../layout

block content

    a.btn.btn-dark(href='/usuarios/create') Nuevo usuario

    table.table.table-responsive.table-responsive-sm.table-responsive-md.table-responsive-lg.table-responsive-xl
        tr
            th(scope='col') #
            th(scope='col') Nombre
            th(scope='col') Email
            th(scope='col') Verificado
            th(scope='col') Modificar
            th(scope='col') Eliminar
        tbody
            each usuario in usuarios
                tr
                    td(scope='row')
                        = usuario.id
                    td=usuario.nombreUsuario
                    td=usuario.email
                    td=usuario.verificado ? 'SI' : 'NO'
                    td
                        a.btn.btn-info(href='usuarios/' + usuario.id + '/update') Modificar
                    td
                        form.inline(method='post' action='usuarios/' + usuario.id + '/delete')
                            input(type='hidden' name='id' value=usuario.id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn btn-danger')
                                = 'Eliminar'