extends ../layout

block content
    a.btn.btn-dark(href='/usuarios') Volver

    br
    br

    h1 Modificar usuario

    br
    br

    form(action=`/usuarios/${usuario.id}/update` method='post')
        .form-group
            label(for='nombreUsuario') Nombre de usuario:
            input#nombreUsuario.form-control(type='text' name='nombreUsuario' value=usuario.nombreUsuario class=errors.nombreUsuario ? 'is-invalid': '')
            if errors.nombreUsuario
                small#nombreUsuarioHelp.text-danger
                    = errors.nombreUsuario.message
        .form-group
        input.btn.btn-primary(type='submit' value='Modificar')
